<!-- #region CONTACT BAR -->
<header class="contact-bar" id="contactBar">
  <span class="top-logo"
    ><svg width="48" height="48" aria-hidden="true">
      <use href="/img/logos-sprite.svg#icon-me-logo" /></svg
  ></span>
  <p class="name">OLEKSANDR PRUDSKYI</p>
  <ul class="contact-info tabular-nums">
    <li class="contact-item">
      <span class="icon"><i class="ph ph-map-pin"></i></span
      ><span>U Nisy 913/4, Liberec</span>
    </li>
    <li class="contact-item">
      <span class="icon"><i class="ph ph-phone"></i></span
      ><span class="desktop-phone">+420 773 714 660</span
      ><span class="mobile-phone"
        ><a href="tel:+420773714660" class="phone-link"
          >+420 773 714 660</a
        ></span
      >
    </li>
    <li class="contact-item">
      <span class="icon"><i class="ph ph-envelope-simple"></i></span
      ><span>oleksandr.prudskyi@gmail.com</span
      ><button
        class="btn btn-copy contact-copy-btn"
        type="button"
        title="Zkopírovat email"
        aria-label="Zkopírovat email"
      >
        <i class="ph ph-copy"></i>
      </button>
    </li>
  </ul>
</header>
<!-- #endregion CONTACT BAR -->
