<!-- #region SECTION: PROFILE -->
<section class="section">
  <div class="container">
    <article class="card-info glass-card">
      <section class="info-columns">
        <article class="info-column">
          <h3 class="info-column-title">
            <i class="ph-bold ph-graduation-cap"></i> Vzdělání
          </h3>
          <ul class="edu-list">
            <li class="edu-row">
              <i class="ph-fill ph-certificate"></i>
              <p>
                <span class="edu-title tabular-nums"
                  >Bakalářský titul (nostrifikace)</span
                ><span class="edu-sub">Ukrajina</span>
              </p>
            </li>
          </ul>
          <h4 class="edu-subgroup-title">Kurzy</h4>
          <ul class="edu-list">
            <li class="edu-row">
              <i class="ph-fill ph-code"></i>
              <p>
                <span class="edu-title tabular-nums"
                  >GO IT - Fullstack Development</span
                ><span class="edu-sub">probíhá · začátečník</span>
              </p>
            </li>
            <li class="edu-row">
              <i class="ph-fill ph-flower-lotus"></i>
              <p>
                <span class="edu-title tabular-nums"
                  >Sportovní masér (69-037-M)</span
                ><span class="edu-sub"
                  >dokončeno · osvědčení o získání kvalifikace</span
                >
              </p>
            </li>
          </ul>
        </article>
        <article class="info-column">
          <h3 class="info-column-title">
            <i class="ph-bold ph-translate"></i> Jazyky
          </h3>
          <ul class="lang-simple">
            <li><i class="ph ph-flag-pennant"></i> Čeština - B1</li>
            <li>
              <i class="ph ph-flag-pennant"></i> Ukrajinština - rodný jazyk
            </li>
            <li><i class="ph ph-flag-pennant"></i> Angličtina - elementary</li>
          </ul>
        </article>
        <article class="info-column">
          <h3 class="info-column-title">
            <i class="ph-bold ph-lightning"></i> Zájmy
          </h3>
          <ul class="zajmy-simple">
            <li><i class="ph ph-gear-six"></i> Práce s technickým vybavením</li>
            <li>
              <i class="ph ph-book-open-text"></i> Osobní rozvoj a vzdělávání
            </li>
            <li><i class="ph ph-barbell"></i> Sport a kondice</li>
          </ul>
        </article>
      </section>
    </article>
  </div>
</section>
<!-- #endregion SECTION: PROFILE -->
