<!-- #region SECTION: SKILLS -->
<section class="section">
  <div class="container">
    <h2 class="title-section">
      <i class="ph-bold ph-wrench icon-section"></i> Dovednosti
    </h2>
    <ul class="skills-list">
      <li class="card-skills glass-card">
        <h3>Technické znalosti</h3>
        <ul class="skill-tags">
          <li class="skill-tag">Obsluha CNC strojů</li>
          <li class="skill-tag">Software Cors</li>
          <li class="skill-tag">Siemens systémy</li>
          <li class="skill-tag">Přesné měření</li>
          <li class="skill-tag">Kalibrace přístrojů</li>
          <li class="skill-tag">Seřizování strojů</li>
          <li class="skill-tag">Nastavení cyklů</li>
          <li class="skill-tag">Práce s CVD diamantem</li>
          <li class="skill-tag">
            Použití polyuretanových a semišových nástrojů
          </li>
          <li class="skill-tag">Zodpovědnost za kvalitu a bezpečnost</li>
          <li class="skill-tag">Práce s plasty</li>
          <li class="skill-tag">Práce se sklem</li>
          <li class="skill-tag">Optické komponenty</li>
          <li class="skill-tag">Diagnostika poruch</li>
          <li class="skill-tag">AI prompting</li>
          <li class="skill-tag">Pokročilý uživatel PC</li>
        </ul>
      </li>
      <li class="card-skills glass-card">
        <h3>Osobní vlastnosti</h3>
        <ul class="skill-tags">
          <li class="skill-tag">Rychlá adaptabilita</li>
          <li class="skill-tag">Odolnost proti stresu</li>
          <li class="skill-tag">Pozornost k detailům</li>
          <li class="skill-tag">Zodpovědnost</li>
          <li class="skill-tag">Ochota učit se</li>
          <li class="skill-tag">Týmová spolupráce</li>
          <li class="skill-tag">Samostatnost</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<!-- #endregion SECTION: SKILLS -->
